/* NavBar */
.navbar {
  background-color: #003658;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  color: #fff0f0;
  font-weight: 600;
  font-size: 1.5rem;
}

.navbar-brand:hover {
  color: #fff0f0;
}

.navbar-social-media {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.navbar-social-media-icon {
  color: #fff0f0;
  font-size: 1.5rem;
}